* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --softCyan: hsl(174, 77%, 80%);
  --strongCyan: hsl(174, 86%, 45%);
  --lightGrayishRed: hsl(14, 92%, 95%);
  --lightRed: hsl(15, 100%, 70%);
  --paleBlue: hsl(226, 100%, 87%);
  --white: hsl(0, 0%, 100%);
  --veryPaleBlue: hsl(230, 100%, 99%);
  --lightGrayishBlue: hsl(224, 65%, 95%);
  --lightGrayishToggleBlue: hsl(223, 50%, 87%);
  --grayishBlue: hsl(225, 20%, 60%);
  --darkDesaturatuedBlue: hsl(227, 35%, 25%);
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--veryPaleBlue);
}
.intro {
  margin: 40px auto;
  text-align: center;
}
.intro h2 {
  color: var(--darkDesaturatuedBlue);
  margin: 10px 0;
}

.intro p {
  color: var(--grayishBlue);
}
.pricing-card {
  background-color: var(--white);
  padding: 30px;
  border-radius: 20px;
  width: 600px;
}

.pricing-card .range {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.pricing-card .range .views,
.pricing-card .range .plan {
  color: var(--grayishBlue);
}
.pricing-card .range .plan span {
  color: var(--darkDesaturatuedBlue);
}
.pricing-card .rang-slider {
  margin: 20px 0;
}
.pricing-card .rang-slider input[type="range"] {
  height: 30px;
  cursor: pointer;
  width: 100%;
}
.pricing-card .rang-slider input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px;
  background-color: var(--softCyan);
}

.pricing-card .billing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  color: var(--grayishBlue);
  font-size: 14px;
}
.pricing-card .billing p {
  margin: 0 10px;
}
.pricing-card .billing button {
  width: 40px;
  height: 20px;
  padding: 10px;
  border: none;
  border-radius: 34px;
  position: relative;
  cursor: pointer;
  background-color: var(--grayishBlue);
}
.pricing-card .billing button .toggle {
  position: absolute;
  background-color: var(--white);
  top: 2px;
  left: 3px;
  width: 31%;
  height: 80%;
  border-radius: 100%;
}
.pricing-card .billing button .switched {
  left: 20px;
}
.pricing-card .billing .yearly span {
  color: var(--lightRed);
  margin: 0 10px;
}
.pricing-card .pricing-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing-card .pricing-card-footer ul li {
  color: var(--grayishBlue);
  margin: 5px 0;
}
.pricing-card .pricing-card-footer ul li::before {
  content: " ✓";
  color: var(--strongCyan);
  margin-right: 10px;
}
.pricing-card .pricing-card-footer .trial {
  width: 200px;
  height: 40px;
  padding: 10px;
  background-color: var(--darkDesaturatuedBlue);
  border: none;
  color: var(--grayishBlue);
  border-radius: 20px;
  cursor: pointer;
}
.pricing-card .pricing-card-footer .trial:hover {
  color: var(--white);
}
